@font-face {
  font-family: 'antares';
  src: url(/fonts/antares.ttf);
}

@font-face {
  font-family: 'missing';
  src: url(/fonts/Missing.ttf);
}

@font-face {
  font-family: 'venneta';
  src: url(/fonts/Venneta.ttf);
}

@font-face {
  font-family: 'variera';
  src: url(/fonts/Variera.ttf);
}

html {
  scroll-behavior: smooth;
}

body {
  background: #20262E;
  min-height: 100vh;
}

header {
  height: 60px;
}

.container input {
  justify-content: center;
  opacity: 0;
  user-select: none;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: center;
  position: relative;
  top: 25%;
  left: 50%;
  user-select: none;
  width: 1em;
}

.checkmark span {
  width: 2em;
  height: 0.2em;
  background-color: #BDBDD7;
  position: absolute;
  cursor: pointer;
  left: 0;
  transition: all 1s ease-in-out;
}

.checkmark span:nth-child(1) {
  top: 10%;
  transform: translateY(-50%);
}

.checkmark span:nth-child(2) {
  top: 40%;
  transform: translateY(50%);
}

.checkmark span:nth-child(3) {
  top: 90%;
  transform: translateY(50%);
}

.container input:checked+.checkmark span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) translateX(-50px) rotate(45deg);
}

.container input:checked+.checkmark span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%) translateX(-50px) rotate(-45deg);
}

.container input:checked+.checkmark span:nth-child(3) {
  transform: translateX(-50px);
  opacity: 0;
}

input[type="checkbox"]:checked+.checkmark+.options {
  display: flex;
  flex-direction: row;
  animation: slide-in-left 1s ease-in-out 0.4s forwards;
}

.options {
  display: flex;
  position: absolute;
  top: -13px;
  left: 0px;
  width: 10em;
  display: none;
  opacity: 0;
}

.options p {
  margin-left: 1.25em;
  display: inline;
}

.options a {
  color: #BDBDD7;
  font-family: 'variera';
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

.options p:hover {
  transition: ease-in 0.3s;
  transform: scale(1.1);
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  color: #BDBDD7;
  cursor: pointer;
  padding: 2px 7px;
  font-size: 1.5em;
  transform: rotate(-90deg);
  background: none;
}

#myBtn:hover {
  border-radius: 2.5em;
  background-color: rgba(0, 0, 0, 0.7);
  transition: ease-in 0.3s;
  transform: rotate(-90deg) scale(1.5);
}

#myBtn:active {
  transform: rotate(-90deg) scale(0.5);
}

#title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'venneta', sans-serif;
  font-size: 500%;
  color: #BDBDD7;
  text-shadow: 10px -2px 2px #1f1e1e;
  user-select: none;
}

#message {
  position: absolute;
  top: calc(50% + 150px);
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-family: 'missing';
  color: #BDBDD7;
  font-size: 40px;
  text-shadow: 5px -2px 2px #1f1e1e;
  user-select: none;
}

section {
  height: 100vh;
}

.about-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.projects-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}

.backtext {
  position: absolute;
  top: 30%;
  font-size: 15em;
  color: #BDBDD7;
  font-family: 'variera';
  filter: blur(5px);
  z-index: -1;
  opacity: 0;
  transform: translateX(-100%);
  transition: all 2s;
  text-shadow: 4px -4px 6px #20180b;
  padding: 0.1em;
  user-select: none;
}

.show {
  opacity: 1;
  transform: translateX(0);
}

.mainMe {
  box-shadow: rgba(0, 0, 0, 0.4) 10px 20px 30px, rgba(0, 0, 0, 0.3) 10px 1px 53px 3px, rgba(1, 0, 0, 0.2) 0px -1px 3px inset;
  text-align: center;
  height: 50%;
  width: 30%;
  transition: all 0.5s;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 10px;
  font-size: 1em;
  background-color: rgba(0, 0, 0, 0.2)
}

.smallMe {
  box-shadow: rgba(0, 0, 0, 0.4) 10px 20px 30px, rgba(0, 0, 0, 0.3) 10px 1px 53px 3px, rgba(1, 0, 0, 0.2) 0px -1px 3px inset;
  text-align: center;
  height: 25%;
  width: 15%;
  transition: all 0.5s;
  position: absolute;
  left: 10%;
  top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
  border-radius: 10px;
  padding: 10px;
  font-size: 1.vw;
}

.smallMe2 {
  box-shadow: rgba(0, 0, 0, 0.4) 10px 20px 30px, rgba(0, 0, 0, 0.3) 10px 1px 53px 3px, rgba(1, 0, 0, 0.2) 0px -1px 3px inset;
  text-align: center;
  height: 30%;
  width: 22%;
  transition: all 0.5s;
  position: absolute;
  right: 5%;
  bottom: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 1em;
}

.cardText {
  transition: ease-in-out 0.2s;
  color: whitesmoke;
  text-align: center;
  max-width: 100%;
  overflow: hidden;
  user-select: none;
}

.cardText h1 {
  font-family: variera;
  font-size: 2vw;
}

.cardText p {
  font-size: 1.5vw;
}

.cardText a {
  color: #8e8eaa;
  text-decoration: none;
  font-weight: bold;
}

.mainMe:hover {
  transform: scale(0.95) rotateZ(10deg);
  background-color: rgba(0, 0, 0, 0.7);
}

.smallMe:hover .cardText {
  transform: scale(0.95) rotateZ(10deg);
}

.mainMe:hover .cardText {
  transform: scale(0.95) rotateZ(-10deg);
}

.smallMe:hover {
  transform: scale(0.95) rotateZ(-10deg);
  background-color: rgba(0, 0, 0, 0.7);
}

.smallMe2:hover {
  transform: scale(0.95) rotateZ(-10deg);
  background-color: rgba(0, 0, 0, 0.7);
}

.smallMe2:hover .cardText {
  transform: scale(0.95) rotateZ(10deg);
}

footer {
  position: absolute;
  width: 99%;
  height: 2em;
  text-align: center;
  color: whitesmoke;
  font-family: Arial, sans-serif
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 75%;
  height: 75%;
}

.card {
  position: relative;
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  border: 2px solid;
  border-radius: 3px;
  border-image: linear-gradient(to bottom, #2c2d3b, #BDBDD7) 1;
  margin: 0.1em;
  transition: all 0.8s;
  align-items: center;
}

.card:hover {
  flex: 4;
  background-color: rgba(0, 0, 0, 0.7);
}

.card h2 {
  font-family: variera;
  font-size: 3vw;
  letter-spacing: 0.2em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  transition: all 0.8s;
  transform-origin: center center;
  white-space: nowrap;
  color: whitesmoke;
}

.card:hover h2 {
  top: 0;
  transform: translateX(-50%) rotate(0deg);
  transform-origin: center top;
}

.languages {
  display: flex;
  position: absolute;
  justify-content: center;
  top: 20%;
}

.languages img {
  justify-content: center;
  margin: 0px 5px;
  display: flex;
  height: 2.5vw;
  color: whitesmoke;
  transform: translate(-50%, -50%);
  opacity: 0;
  user-select: none;
}

.card:hover img {
  animation: fade-in 2.5s 0.4s forwards;
}

.contactCard {
  width: 7vw;
  height: 2.5vw;
  margin: 1vw 1vw;
  border: 1px solid #BDBDD7;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: inline-block;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  font-family: 'variera';
  font-size: 1.3vw;
}

.contactCard a {
  display: flex;
  align-items: center;
  color: whitesmoke;
  font-size: 1.3vw;
}

.contactCard a img {
  margin-left: 10%;
  margin-right: 10%;
  height: 2vw;
}

.contactCard:hover {
  border: 1px solid black;
}

#linkedIn:hover {
  background-color: rgba(2, 136, 209, 0.7);
}

#gmail:hover {
  background-color: rgba(234, 67, 53, 0.7);
}

#dc:hover {
  background-color: rgba(114, 137, 218, 0.7);
}

#fb:hover {
  background-color: rgba(23, 120, 242, 0.7);
}

.contactCard:active {
  transform: scale(0.95) rotateZ(1.7deg);
}

.card p {
  color: whitesmoke;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  font-size: 1.5vw;
}

.card:hover p {
  animation: fade-in 2.5s 0.6s forwards;
}

.links {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 5%;
  opacity: 0;
}

.linksBtn {
  justify-content: center;
  margin: 0px 15px;
  background-color: transparent;
  border: 1px solid #BDBDD7;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  font-family: 'variera';
  font-size: 2vw;
  color: whitesmoke;
  transition: all 0.5s;
  height: 3vw;
  width: 15vw;
}

.card:hover .links {
  animation: fade-in 2.5s 0.4s forwards;
}

.linksBtn:hover {
  transform: scale(1.05);
  background-color: #20262E;
}

.linksBtn:active {
  transform: scale(0.95) rotateZ(1.7deg);
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-15px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


@media (max-width: 900px) {
  body {
    height: 100vh;
  }

  .mainMe,
  .smallMe,
  .smallMe2 {
    height: 25%;
    width: 90%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    animation: none;
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.2);
  }

  .smallMe:hover,
  .smallMe2:hover {
    transform: translate(-50%);
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .mainMe:hover {
    transform: translate(-50%);
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .smallMe:hover .cardText,
  .mainMe:hover .cardText,
  .smallMe2:hover .cardText {
    transform: none;
    pointer-events: none;
  }

  .mainMe {
    right: 50%
  }

  .smallMe {
    top: 7%;
  }

  .smallMe2 {
    width: 95%;
    bottom: 10%;
  }

  .cardText h1 {
    font-size: 100%;
  }

  .cardText p {
    font-size: 50%;
  }

  .mainMe .cardText {
    font-size: 75%;
  }

  .smallMe2 .cardText {
    height: 100%;
    width: 100%;
  }

  .contactCard {
    width: 20%;
    height: 3.5em;
    margin: 1em 1em;
    font-size: 1.3vw;
  }

  .contactCard a {
    font-size: 2em;
  }

  .contactCard a img {
    height: 1em;
  }

  #fb {
    background-color: rgba(23, 120, 242, 0.7)
  }

  #dc {
    background-color: rgba(114, 137, 218, 0.7);
  }

  #gmail {
    background-color: rgba(234, 67, 53, 0.7);
  }

  #linkedIn {
    background-color: rgba(2, 136, 209, 0.7);
  }

  .contactCard:hover {
    transform: none;
    pointer-events: none;
  }

  #linkedIn:hover,
  #gmail:hover,
  #dc:hover,
  #fb:hover {
    transform: none;
    pointer-events: none;
  }

  .card p {
    font-size: 1.2vw;
  }

  .languages img {
    height: 2vw;
  }

  .card h2 {
    font-size: 2vw;
  }

  .card-container {
    width: 100%;
  }

  #myBtn {
    font-size: 1em;
  }

  .card:active {
    flex: 4;
    background-color: rgba(0, 0, 0, 0.7);
  }
 
}